
<div class="map-container" #map></div>

<div class="video-controls-container">
  <div class="video-controls">
    <button class="play-button"
      (click) = "togglePlay()"
      [ngClass]="{'is-playing':isVideoPlaying}"
      [title]="isVideoPlaying?'Pause':'Play'"> 
    </button>
    <div class="time-elapsed">{{timeElapsed | timespan}}</div> 
     <app-slider
      [value]="timeElapsed || 0"
      [max]="duration || 0"
      (valueChange) = "seek($event)"
      class="slider" #slider> 
    </app-slider>  
    <div class="duration">{{duration | timespan}}</div>
    <button class="full-screen-button">
      <!-- (click) = "toggleFullScreen()"
      [ngClass]="{'exit':isFullScreen}"
      [title]="isFullScreen?'Exit full screen':'Full screen'"> -->
    </button>
  </div>
</div>