$white: #FFFFFF;

/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
.map-container {
  height: 90vh;
  min-height: 300px;
  width: 100%;
}

/* Video Controls */
.video-controls-container {
  background-color: gray;
  height: 10vh;
  width: 100%;
}
.video-controls {
  width: 100%;
  padding: 16px;
  font-size: 12px;
  color: $white;
  user-select: none;
  cursor: default;

  .play-pause {
    
    margin: 0 auto;
    width: 7%;

    .play-button {
      background: transparent;
      background-image: url('./../assets/images/play.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
      border-style: none;
      outline-style: none;
      float: right;
      cursor: pointer;
  
      &.is-playing {
        background-image: url('./../assets/images/pause_icon.svg');
      }
    }
  
    & span {
      display: inline-block;
      font-size: 20px;
    }

  }
  

}